body {
    margin: 20px 100px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #dfdfdf;
}

#banner {
    width: auto;
    padding: 8px;
    margin: -5px -20px 15px;
    border-bottom: 1ps solid #999;
    background-color: #333;
    color: #ddd;
    font-family: "Inconsolata", "Courier New", Courier, sans-serif;
    font-size: 14px;
}

#banner a {
    color: #eee;
    font-family: "Inconsolata", "Courier New", Courier, sans-serif;
    font-size: 14px;
    text-decoration: underline;
}

#content {
    border: 1px solid #bbb;
    background-color: #fff;
    -moz-box-shadow: 0 7px 11px #aaa;
    -webkit-box-shadow: 0 7px 11px #aaa;
    box-shadow: 0 7px 11px #aaa;
    padding: 5px 20px 25px;
}

div#deploys ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 15px 0 10px;
    padding: 0 0 5px;
    border-bottom: 1px solid #ccc;
}

section {
    padding: 5px;
}

section h3 {
    background-color: #d9d9d9;
    color: #333;
    margin: -5px -5px 10px;
    padding: 3px 3px 3px 10px;
    font-weight: normal;
    border-bottom: 1px solid #999;
}

#left-col section {
    
}

/*#left-col {
    float: left;
    width: 200px;
    padding: 5px;
}
#right-col {
    float: right;
    margin-left: 220px;
    padding: 5px;
}*/