<html>
    <head>
        <title>Make It Goo: Deploy Tool</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% url django.views.static.serve 'mg.css' %}" type='text/css' />
        {% block html_head %}{% endblock %}
    </head>
    <body>
        <div id="content">
        <p id="banner"><strong><a href="{% url mgapp.views.home %}">Make It Goo</a>{% block breadcrumbs %}{% endblock %}</strong> {% if user %}<span id="user">Logged in as {{ user.username }}</span>{% endif %}</p>
        {% block content %}{% endblock %}
        </div>
        <p>a <a href="http://wallrazer.com">wallrazer</a> thing</p>
    </body>
</html>