{% extends "section.html" %}

{% block name %}Deploy to {{ env.label }}{% endblock %}

{% block content %}
Current
<ul>
    <li>remote: {{ env.git.remote }}</li>
    <li>head: {{ env.git.head }}</li>
    <li>branch: {{ env.git.branch }}</li>
</ul>
{% if app.latest_deploy %}
Last deploy: {% if app.latest_deploy.complete %}
<img width='10' height='10' src="/media/img/admin/icon-yes.gif" alt="Deploy Succeeded">
{% else %}
<img width='10' height='10' src="/media/img/admin/icon-no.gif" alt="Deploy Failed">
{% endif %}<a href="{% url mgapp.views.deploy app.latest_deploy.id %}">{{ app.latest_deploy.created }}</a> "{{ app.latest_deploy.message }}"
{% endif %}
<form name="makeitgoo">
<input type="hidden" value="{{app.id}}" name="app_id" id="app_id" />
<input type="hidden" value="{{env.label}}" name="env" id="env" />

Deploy Message: <input type="text" name="message" id="message" /> <input type="button" value="Push to {{env.label}}" id="deploy" />
</form>

{% endblock %}